# Getting and Knowing your data

Special thanks to guuipsamora for providing practice sheets.

In [2]:
# Instead of imports all libraries separately and giving list of commands, we can install pyforest.

!pip install pyforest

Collecting pyforest
  Downloading https://files.pythonhosted.org/packages/07/b7/c78623e4b215b0476f96038cfe75920eda1a9a216fed1e6105a7d9de5e47/pyforest-0.1.4.tar.gz
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py): started
  Building wheel for pyforest (setup.py): finished with status 'done'
  Stored in directory: C:\Users\BHIMA RAO KAMIDI\AppData\Local\pip\Cache\wheels\b5\6f\28\9dd3fc38ca88e9c30712fc6c61aa83dca4dc496c82136c38f2
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-0.1.4

In [1]:
#Importing data set from html link.

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [2]:
# to see the first 10 entries of the data set, you can change the number in () and see the result
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [3]:
# to see the total number of rows and columns

chipo.shape

(4622, 5)

In [5]:
# If you want to see number of rows (entries) only use below - [] is used for indexing and '0' indicates rows

chipo.shape[0]

4622

In [6]:
# to know the info and all columns

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [7]:
# If you want to see number of columns use below - [] is used for indexing and '1' indicates columns

chipo.shape[1]

5

In [8]:
# to get the column names

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [12]:
# what is the maximum item ordered?

item = chipo.groupby('item_name').sum()
item = item.sort_values(['quantity'], ascending=False)
item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [13]:
# what is the minimum item ordered?

item = chipo.groupby('item_name').sum()
item = item.sort_values(['quantity'], ascending=True)
item.head(1)

                order_id  quantity
item_name
Carnitas Salad      1500         1

In [32]:
# What is the maximum item ordered based on choice_description

item = chipo.groupby('choice_description')
item = item.sum()
item = item.sort_values(['quantity'], ascending=False)
item.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [35]:
# How many items were ordered in total?

total_orders = chipo.quantity.sum()
total_orders

4972

In [36]:
# Finding data type

chipo.item_price.dtype

dtype('O')

In [26]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

TypeError: 'float' object is not subscriptable

In [27]:
chipo.item_price.dtype

dtype('float64')

In [28]:
# Finding total revenue which is possible by multiplying quantity with item_price and finally sum all the values
revenue = (chipo['quantity']* chipo['item_price']).sum()
print(np.round(revenue,2))

39237.02

In [31]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [36]:
# Average revenue per order

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(['order_id']).sum()
order_grouped

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
6                2       17.50    17.50
7                2       15.70    15.70
8                2       10.88    10.88
9                3       10.67    12.85
10               2       13.20    13.20
11               2       12.38    12.38
12               2       14.37    14.37
13               2       10.88    10.88
14               2       10.08    10.08
15               2       10.88    10.88
16               2       10.68    10.68
17               2       10.08    10.08
18               4       24.90    24.90
19               2       13.90    13.90
20               4       36.20    36.20
21               3       23.36    23.36
22               2       12.98    12.98
23               3       11.17    13.35
24               2       12.07    12.07
25               2       11.38    11.38
26               2       20.50    20.50
27               2       13.90    13.90
28               4       33.70    33.70
29               2       17.98    17.98
30               3       23.36    23.36
...            ...         ...      ...
1805             2       20.00    20.00
1806             4       13.00    13.00
1807             2       18.64    18.64
1808             2       13.70    13.70
1809             3       14.45    14.45
1810             2       23.00    23.00
1811             3       29.25    29.25
1812             4       22.50    25.00
1813             2       17.50    35.00
1814             2       13.70    13.70
1815             2       12.50    12.50
1816             2       13.20    13.20
1817             4       13.00    13.00
1818             2       18.14    18.14
1819             2       13.20    13.20
1820             2       12.50    12.50
1821             2       13.70    13.70
1822             4       23.00    26.00
1823             3       12.15    12.15
1824             3       26.95    26.95
1825             6       66.50    66.50
1826             4       15.95    15.95
1827             5       32.95    32.95
1828             3       14.45    14.45
1829             3       24.25    24.25
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [39]:
order_grouped.mean()['revenue']

21.394231188658654

In [63]:
chipo.item_name.value_counts().count()

50